:root {
  font-family: system-ui, sans-serif;
  color: #213547;
  background-color: #ffffff;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
}

.app-layout {
  min-height: 100vh;
}

.app-header,
.app-main {
  padding: 1rem;
}

h1 {
  margin: 0;
}
